<ion-content>
  <div>
    <div class="align-center topHead">
      <div class="backButtonBox">
        <svg class="myIcon backIcon dark">
          <use xlink:href="../../assets/sprite.svg#backButton"></use>
        </svg>
        <ion-back-button class="backButton"></ion-back-button>
      </div>
      <h1>
        Create New Password
      </h1>
    </div>
    

    <div class="forgotPswDiv">
      <p class="recover-message">
        Your new password should be different from your previously used password.
      </p>
      <div class="inputs-list pb60">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onClickSubmit()">
          <div formGroupName="matching_passwords">
          <div class="inputDiv">
            <ion-label>New Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
            <div class="error-container">
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message"
                  *ngIf="resetPasswordForm.get('matching_passwords').get('password').hasError(validation.type) && (resetPasswordForm.get('matching_passwords').get('password').dirty || resetPasswordForm.get('matching_passwords').get('password').touched || isSubmitted)">
                  <span>{{ validation.message }}</span>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="inputDiv pb30">
            <ion-label>Confirm Password</ion-label>
            <ion-input type="password" formControlName="confirm_password"></ion-input>
            <div class="error-container">
              <ng-container *ngFor="let validation of validation_messages.confirm_password">
                <div class="error-message"
                  *ngIf="resetPasswordForm.get('matching_passwords').get('confirm_password').hasError(validation.type) && (resetPasswordForm.get('matching_passwords').get('confirm_password').dirty || resetPasswordForm.get('matching_passwords').get('confirm_password').touched || isSubmitted)">
                  <span>{{ validation.message }}</span>
                </div>
              </ng-container>
            </div>
          </div>
          </div>
          <div class="error-container">
            <ng-container *ngFor="let validation of validation_messages.matching_passwords">
              <div class="error-message"
                *ngIf="resetPasswordForm.get('matching_passwords').hasError(validation.type) && (resetPasswordForm.get('matching_passwords').get('confirm_password').dirty || resetPasswordForm.get('matching_passwords').get('confirm_password').touched || isSubmitted)">
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
          <ion-button class="p0" shape="" expand="block" type="submit">Submit</ion-button>
        </form>
      </div>
    </div>
  </div>
</ion-content>