<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLinkActive]="['tab-selected']">
      <div class="tabIcon home"></div>
      <ion-label class="tab-title">Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="events" [routerLinkActive]="['tab-selected']">
      <div class="tabIcon events"></div>
      <ion-label class="tab-title">Events</ion-label>
    </ion-tab-button> 
    <ion-tab-button tab="friends" [routerLinkActive]="['tab-selected']">
      <div class="tabIcon friends"></div>
      <ion-label class="tab-title">Friends</ion-label>
    </ion-tab-button> 
    <ion-tab-button tab="profile" [routerLinkActive]="['tab-selected']">
      <div class="tabIcon profile"></div>
      <ion-label class="tab-title">Profile</ion-label>
    </ion-tab-button> 
  </ion-tab-bar>
</ion-tabs>

