<ion-content>
  <div>

    <div class="align-center topHead">
      <div class="backButtonBox" [routerLink]="['/login']">
        <svg class="myIcon backIcon dark">
          <use xlink:href="../../assets/sprite.svg#backButton"></use>
        </svg>
        <ion-back-button class="backButton"></ion-back-button>
      </div>
      <h1>
        Forgot Password?
      </h1>
    </div>

    <div class="forgotPswDiv">
      <p class="recover-message">
        Enter the email address you used when you joined and we’ll send you instructions to reset your password.
      </p>
      <div class="inputs-list">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onClickSendOtp()">
          <div class="inputDiv pb30">
            <ion-label>Email</ion-label>
            <ion-input type="Email" formControlName="email" autocapitalize="off" inputmode="email"></ion-input>
            <div class="error-container">
              <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message"
                  *ngIf="forgotPasswordForm.get('email').hasError(validation.type) && (forgotPasswordForm.get('email').dirty || forgotPasswordForm.get('email').touched || isSubmitted)">
                  <span>{{ validation.message }}</span>
                </div>
              </ng-container>
            </div>
          </div>
          <ion-button class="p0" shape="" expand="block" type="submit">Send OTP</ion-button>
        </form>
      </div>
    </div>
  </div>
</ion-content>