<ion-content>

  
  <div class="eventSuccessDiv">
    <div>
      <div class="successDiv">
        <div class="successDivIcon">
          <svg class="myIcon">
            <use xlink:href="../../assets/sprite.svg#rightIcon"></use>
          </svg>
        </div>
        <div class="rippleDiv">
          <div class="rippleEffect" style="--i: 1;"></div>
          <div class="rippleEffect" style="--i: 2;"></div>
          <div class="rippleEffect" style="--i: 3;"></div>
          <div class="rippleEffect" style="--i: 4;"></div>
        </div>
      </div>
     
      <div class="successInfo">
        <div>
          <div class="textDiv"> Your event has been created successfully</div>
          <ion-button shape="" fill="outline" expand="block" [routerLink]="['/app/events']">Done</ion-button>
        </div>
      </div>
    </div>
  </div>

</ion-content>