<ion-content>

  <div class="align-center topHead">
    <div class="backButtonBox">
      <svg class="myIcon backIcon dark">
        <use xlink:href="../../assets/sprite.svg#backButton"></use>
      </svg>
      <ion-back-button class="backButton"></ion-back-button>
    </div>
    <h1>
      Invite friends
    </h1>
  </div>

  <ng-container *ngIf="isLoading">
    <!-- Skeleton Section -->
    <div class="leftRightSpacing block mt20">
      <div class="border-bottom align-center pb30">
        <ion-skeleton-text animated style="width: 45px; height:  45px;  border-radius: 50%;">
        </ion-skeleton-text>
        <ion-skeleton-text animated style="width: calc(100% - 45px); margin-left: 20px; height:  25px;">
        </ion-skeleton-text>
      </div>  
      <div class="border-bottom align-center pb30">
        <ion-skeleton-text animated style="width: 45px; height:  45px;  border-radius: 50%;">
        </ion-skeleton-text>
        <ion-skeleton-text animated style="width: calc(100% - 65px); margin-left: 20px; height:  25px;">
        </ion-skeleton-text>
      </div>  
      <div class="border-bottom align-center pb30">
        <ion-skeleton-text animated style="width: 45px; height:  45px;  border-radius: 50%;">
        </ion-skeleton-text>
        <ion-skeleton-text animated style="width: calc(100% - 35px); margin-left: 20px; height:  25px;">
        </ion-skeleton-text>
      </div>  
    </div>
    <!-- End Skeleton Section -->
  </ng-container>

  <div class="friendsListDetails inviteFriends leftRightSpacing"  *ngIf="!isLoading">
    <div class="friendsList" *ngFor="let user of users">
      <div class="friendsInfo">
        <div class="friendsImg">
          <img [src]="user.profilePhoto?user.profilePhoto:'../../assets/images/deafult-profile-img.svg'" alt="">
        </div>
        <div class="friendsName">
          {{user.fullName}}
        </div>
      </div>
      <div class="checkboxDiv">
        <ion-checkbox color="secondary" [(ngModel)]="user.checked"  (ionChange)="checked(user)" ></ion-checkbox>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer  *ngIf="!isLoading">
  <ion-toolbar>
    <div class="footerDiv sendInvitation justify-content-center">
      <ion-button shape="" expand="block" [disabled]="selectedUsers.length == 0" (click)="inviteFriends()">Send invitation</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>